/* dark-mode.css */

/* Фон страницы */
body {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

/* Фон элементов списка и кнопок */
.list-group-item, .btn {
    background-color: #444; /* Цвет фона элементов списка и кнопок */
    color: #fff; /* Цвет текста на элементах списка и кнопках */
}

/* Стили для ссылок */
a {
    color: #007bff; /* Цвет ссылок */
}
a:hover {
    color: #0056b3; /* Цвет ссылок при наведении */
}

/* Стили для формы */
.form-control {
    background-color: #555; /* Цвет фона поля ввода */
    color: #fff; /* Цвет текста в поле ввода */
}

/* Дополнительные стили для темной темы можно добавить здесь */
